openapi: 3.0.3

info:
  title: Somi backend API
  version: 0.4.1

tags:
  - name: Calendar
    description: Retrieve calendar events
    
  - name: Community
    description: Search communities and obtain their data

  - name: Location
    description: Search locations

  - name: Journey
    description: Manage journeys
  
  - name: Request
    description: Manage requests

  - name: Reservation
    description: Manage reservations

  - name: Member
    description: Manage members

servers:
  - url: https://api.somi.cat/v0

  
paths:
  /calendar/:
    get:
      tags:
        - Calendar
      summary: Retrieve 3 weeks of the user's calendar events
      parameters:
        - name: - (no name, simple query string)
          in: query
          description: from - Retrieves 3 weeks of events starting from the provided week. Even though the specific day and and time are provided as per the format, they are ignored as a week is assumed to start on monday. If this is not provided, `from` defaults to a week prior
          schema:
            type: string
            format: date-time in yyyy-dd-mm format
            nullable: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/calendar_element'
        '400':
          description: A query is provided but it is malformed
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: f: input contains invalid characters"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '422':
          description: Something went terribly wrong when calculating the three week time range, likely an overflow or underflow
          content:
            text/plain; charset=utf8:
              example: "Failed to calculate a time range"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"
  
  /calendar/{community}:
    get:
      tags:
        - Calendar
      summary: Retrieve 3 weeks of the community's calendar events
      parameters:
        - name: - (no name, simple query string)
          in: query
          description: from - Retrieves 3 weeks of events starting from the provided week. Even though the specific day and and time are provided as per the format, they are ignored as a week is assumed to start on monday. If this is not provided, `from` defaults to a week prior
          schema:
            type: string
            format: date-time in yyyy-dd-mm format
            nullable: true
        - name: community
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/calendar_element'
        '400':
          description: A query is provided but it is malformed
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: f: input contains invalid characters"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '422':
          description: Something went terribly wrong when calculating the three week time range, likely an overflow or underflow
          content:
            text/plain; charset=utf8:
              example: "Failed to calculate a time range"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /community/{community}:
    get:
      tags:
        - Community
      summary: Obtain detailed information about the community
      parameters:
        - name: community
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/community_detail'
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database, or the member is trying to retrieve a private community they don't belong to
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /community/search:
    get:
      tags:
        - Community
      summary: Obtain the list of communities the member belongs to
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/community_detail'
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /community/search/{location}:
    get:
      tags:
        - Community
      summary: Obtain the list of communities where the provided location is a primary or secondary location
      parameters:
        - name: l
          in: query  
          description: limit - Maximum amout of communities to retrieve. If nothing is provided, `5` is used as the default
          schema:
            type: integer
            nullable: true
        - name: o
          in: query  
          description: offset - Number of communities to skip. If nothing is provided, `0` is used as the default
          schema:
            type: integer
            nullable: true
        - name: location
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/community_detail'
        '400':
          description: the location or any query parameters are provided but malformed 
          content:
            text/plain; charset=utf-8:
              example: "Invalid URL: Cannot parse `location` with value `some_malformed_uuid`: UUID parsing failed: invalid character: expected an optional prefix of `urn:uuid:` followed by [0-9a-fA-F-], found `s` at 1"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /location/search/{query}:
    get:
      tags:
        - Location
      summary: Obtain the list of communities where the provided location is a primary or secondary location
      parameters:
        - name: l
          in: query  
          description: limit - Maximum amout of communities to retrieve. If nothing is provided, `5` is used as the default
          schema:
            type: integer
            nullable: true
        - name: o
          in: query  
          description: offset - Number of communities to skip. If nothing is provided, `0` is used as the default
          schema:
            type: integer
            nullable: true
        - name: query
          required: true
          in: path
          description: Regular search query, a location name
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/location'
        '400':
          description: the location or any query parameters are provided but malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '404':
          description: Nothing is found on the database
          content:
            text/plain; charset=utf-8:
              example: "Not in database"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /journey/:
    post:
      tags:
      - Journey
      summary: Create a new journey
      requestBody:
        description: Required data about the journey
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/calendar_element"

      responses:
        '200':
          description: The journey has been successfully created
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: The provided request body is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to parse the request body as JSON: expected `:` at line 2 column 59"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '409':
          description: The element is not unique
          content:
            text/plain; charset=utf8:
              example: "insert or update on table \"journey\" violates primary key constraint \"journey\""
        '412':
          description: A rule in the database has been broken, the journey has not been inserted
          content:
            text/plain; charset=utf8:
              example: "insert or update on table \"journey\" violates foreign key constraint \"journey_jou_origin_fkey\""
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /journey/{journey}:
    delete:
      tags:
      - Journey
      summary: Delete a journey
      parameters:
        - name: journey
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The journey has been successfully deleted
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: the journey id has been provided but is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '403':
          description: The journey does not exist or the member is not allowed to delete it
          content:
            text/plain; charset=utf-8:
              example: "Member 1bafa569-00f4-4d6e-ba39-35bce12e2ad9 does not have permission to delete journey a8a6b710-c5b2-47b8-a299-c06652f79fdb or it does not exist"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '412':
          description: The journey couldn't be deleted because there are uncaencelled reservations associated with it
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /journey/{journey}/reservations:
    get:
      tags:
      - Journey
      summary: Get all reservations for a journey
      parameters:
        - name: journey
          required: true
          in: path
          description: Id of the journey to fetch the reservations for
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Will be an empty list if the member is not the creator of the journey
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/reservation'
        '400':
          description: The provided request body is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Invalid URL: Cannot parse `journey` with value `a`: UUID parsing failed: invalid length: expected length 32 for simple format, found 1"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /journey/{journey}/reservate:
    put:
      tags:
      - Journey
      summary: Create a reservation for a journey
      parameters:
        - name: journey
          required: true
          in: path
          description: Id of the journey to create the reservation for
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The reservation has been successfully created
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: The provided request body is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Invalid URL: Cannot parse `journey` with value `a`: UUID parsing failed: invalid length: expected length 32 for simple format, found 1"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '409':
          description: This user had already made a reservation for this journey
          content:
            text/plain; charset=utf8:
              example: "duplicate key value violates unique constraint \"unique_reservation\""
        '412':
          description: A rule in the database has been broken, the request has not been inserted
          content:
            text/plain; charset=utf8:
              example: "insert or update on table \"reservation\" violates foreign key constraint \"reservation_jou_fkey\""
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /request/:
    post:
      tags:
      - Request
      summary: Create a new request
      requestBody:
        description: Required data about the request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/calendar_element"

      responses:
        '200':
          description: The request has been successfully created
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: the location or any query parameters are provided but malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '409':
          description: The element is not unique
          content:
            text/plain; charset=utf8:
              example: "insert or update on table \"request\" violates primary key constraint \"request_id\""
        '412':
          description: A rule in the database has been broken, the request has not been inserted
          content:
            text/plain; charset=utf8:
              example: "insert or update on table \"request\" violates foreign key constraint \"request_jou_origin_fkey\""
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /request/{request}:
    delete:
      tags:
      - Request
      summary: Delete a request
      parameters:
        - name: request
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The request has been successfully deleted
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: the request id has been provided but is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '403':
          description: The request does not exist or the member is not allowed to delete it
          content:
            text/plain; charset=utf-8:
              example: "Member 1bafa569-00f4-4d6e-ba39-35bce12e2ad9 does not have permission to delete request a8a6b710-c5b2-47b8-a299-c06652f79fdb or it does not exist"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '412':
          description: The journey couldn't be deleted because there are uncancelled reservations associated with it
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /reservation/{reservation}/confirm:
    put:
      tags:
      - Reservation
      summary: Confirm a reservation as a driver
      parameters:
        - name: reservation
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The reservation was confirmed
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: the reservation query parameter has been provided but is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"

  /reservation/{reservation}:
    delete:
      tags:
      - Reservation
      summary: Cancel or Reject a reservation
      description: If the requesting member is the creator of the reservation, the reservation will be canceled. If the requesting member is the creator of the associated journey, the reseravtion will be rejected.
      parameters:
        - name: reservation
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The reservation has been successfully cancelled/rejected
          content:
            application/json:
              schema:
                type: string
                format: uuid
        '400':
          description: the reservation id has been provided but is malformed 
          content:
            text/plain; charset=utf-8:
              example: "Failed to deserialize query string: o: invalid digit found in string"
        '401':
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:
            text/plain; charset=utf-8:
              example: "ExpiredSignature"
        '403':
          description: The reservation does not exist or the member is not allowed to cancel or reject it
          content:
            text/plain; charset=utf-8:
              example: "Member 1bafa569-00f4-4d6e-ba39-35bce12e2ad9 does not have permission to cancel or reject reservation a8a6b710-c5b2-47b8-a299-c06652f79fdb or it does not exist"
        '408':
          description: The server and database timed out when communicating
          content:
            text/plain; charset=utf8:
              example: "Request timed out on our end"
        '500':
          description: An interaction with the database failed
          content:
            text/plain; charset=utf8:
              example: "Something went wrong between the backend and database"
  /member/:
    get:
      tags:
      - Member
      summary: Get the requesting member's information
      responses:
        '200':
          description: The member's information could be retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '401':                                    	
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:                                	
            text/plain; charset=utf-8:                    
              example: "ExpiredSignature"         	
        '408':                                    	
          description: The server and database timed out when communicating
          content:                                	
            text/plain; charset=utf8:             	
              example: "Request timed out on our end"
        '500':                                    	
          description: An interaction with the database failed
          content:                                	
            text/plain; charset=utf8:             	
              example: "Something went wrong between the backend and database"

  /member/{member}:
    get:
      tags:
      - Member
      summary: Get the matching member's information
      parameters:
        - name: member
          required: true
          in: path
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The member's information could be retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/member'
        '401':                                    	
          description: The `Authorization` header is not provided, malformed, or authentication failed
          content:                                	
            text/plain; charset=utf-8:                    
              example: "ExpiredSignature"         	
        '408':                                    	
          description: The server and database timed out when communicating
          content:                                	
            text/plain; charset=utf8:             	
              example: "Request timed out on our end"
        '500':                                    	
          description: An interaction with the database failed
          content:                                	
            text/plain; charset=utf8:             	
              example: "Something went wrong between the backend and database"


components:
  schemas:
    community_detail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Community UUID
        name:
          type: string
          description: Community name
        creator:
          type: string
          format: uuid
          nullable: true
          description: Only provided on /community/{community_id}
        main_location:
          type: string
          description: Name community's main location
        secondary_locations:
          type: array
          items:
            type: string
          nullable: true
          description: Only provided on /community/{community_id}
        visibility:
          type: string
          enum: [hidden, private, public]
        is_member:
          type: boolean
          description: Is the member part of this community?
        member_count: 
          type: integer
          nullable: true
          description: Is null if the member is not part of the community and the community is private.
        members:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          description: Only provided on /community/{community_id}. Is null if the member is not part of the community and the community is private.
    
    calendar:
      type: array
      items:
        $ref: '#/components/schemas/calendar_element'

    calendar_element:
      type: object
      properties:
        element_type:
          type: string
          nullable: true
          enum: [journey, request]
          description: Ignored if sent by the client on a post request, can be skipped
        id:
          type: string
          nullable: true
          format: uuid
          description: Ignored if sent by the client on a post request, can be skipped
        owner_name:
          type: string
          nullable: true
          description: Ignored if sent by the client on a post request, can be skipped
        owner_id:
          type: string
          format: uuid
          nullable: true
          description: Ignored if sent by the client on a post request, can be skipped
        origin:
          type: string
        destination:
          type: string
        departure_time:
          type: string
          format: date-time
        duration:
          type: integer
          description: Duration of the journey in minutes OR offset to calculate maximum arrival time for request
        seat_count:
          type: integer
          description: Maximum amount of passengers a driver set for their journey OR amount of seats requested
        occupied_seats:
          type: integer
          nullable: true
          description: Null when the `type` is `Request`
        seat_price:
          type: integer
          nullable: true
          description: Price the driver has seat per seat, Null when the `type` is `Request`
        community:
          type: string
          format: uuid
          nullable: true
          description: Null when retrieving an element, but required when posting one
        repetition_schedule:
          type: string
          nullable: true
    
    location:
      type: object
      properties:
        id: 
          type: string
          format: uuid
        name:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    
    member:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        surname:
          type: string
        gender:
          description: null if requested for a member that's not the authenticated one
          type: string
          enum: [female, male, non_binary, other, prefer_not_to_say]
          nullable: true
        birth_date:
          description: null if requested for a member that's not the authenticated one
          type: string
          format: date
          nullable: true
        usual_location:
          description: null if the member has not provided one
          type: string
          format: uuid
          nullable: true
        locale:
          type: string
          format: l10n
          pattern: '^[a-z]{2}_[A-Z]{2}$'
        credit:
         description: null if the member has not provided one
         type: number
         format: float
         nullable: true

    reservation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        journey:
          type: string
          format: uuid
        passenger:
          type: string
          format: uuid
        status:
          type: string
          enum: [confirmed, pending, rejected, cancelled]
    
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
